broker.host=localhost
broker.port=5672
broker.vhost=/
broker.username=guest
broker.password=guest
broker.queue.input.readings=annotated-readings
broker.exchange.output.analytics=analytics-outliers
broker.queue.input.outliers=analytics-outliers.5min
doOutput=false